<form name="categoryForm">
  <table class="mx-auto">

    <tr>
      <th colspan="2">Expanse Category</th>
    </tr>
    <tr>
      <td>Category Name:</td>
      <td><input id="categoryName"></td>
    </tr>
    <tr>
      <td>User:</td>
      <td><input id="categoryUserId"></td>
    </tr>
    <tr>
      <td>Describtion:</td>
      <td><input id="categoryDescribtion"></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button type="button" (click)="createCategory()" class="btn btn-primary container-fluid">Add Category</button>
      </td>
    </tr>

    <tr>
      <td>ID:</td>
      <td><input id="categoryId"></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button type="button" (click)="deleteCategory()" class="btn btn-danger container-fluid">Delete Category</button>
      </td>
    </tr>

  </table>
</form>
