<table class="table">
  <tr>
    <td>#</td>
    <td><input id="expanseName" class="container-fluid" placeholder="Nazwa"></td>
    <td><input id="expanseDescribtion" class="container-fluid" placeholder="Opis"></td>
    <td><input id="expanseAmount" class="container-fluid" placeholder="Kwota"></td>
    <td><input type="date" id="dateOfTransaction" class="container-fluid"></td>
    <td><button (click)="createExpanse()" class="btn btn-success container-fluid">Dodaj</button></td>
    </tr>
  </table>
