<form name="userForm">
  <table class="mx-auto">

    <tr>
      <th colspan="2">User</th>
    </tr>
    <tr>
      <td>Login:</td>
      <td><input id="login"></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><input id="email"></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><input id="password"></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button type="button" (click)="createUser()" class="btn btn-primary container-fluid">Add User</button>
      </td>
    </tr>

    <tr>
      <td>ID:</td>
      <td><input id="id"></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button type="button" (click)="deleteUser()" class="btn btn-danger container-fluid">Delete User</button>
      </td>
    </tr>

  </table>
</form>
