<div>
  <h2>{{expanseCategory.name | firstCapital}}</h2>
  <p>{{expanseCategory.describtion | firstCapital}}</p><br>
  <span>Łącznie na {{expanseCategory.name}} wydaleś <b>{{totalAmount | number: '1.2-2'}}</b> zł</span><br><br>
</div>
<div>
  <table class="table mx-auto">
    <tr>
      <th>#</th>
      <th>Nazwa wydatku</th>
      <th>Opis</th>
      <th>Kwota</th>
      <th>Data operacji</th>
      <th></th>
    </tr>
    <tr *ngFor="let expanse of expanses">
      <td>{{expanse.id}}</td>
      <td>{{expanse.name | firstCapital}}</td>
      <td>{{expanse.describtion | firstCapital}}</td>
      <td>{{expanse.amount | number: '1.2-2'}} zł</td>
      <td>{{expanse.dateOfTransaction | date: 'dd/MM/yyyy'}}</td>
      <td><app-delete-expanse [expanse]="expanse"></app-delete-expanse></td>
    </tr>
  </table>
  <app-add-expanse [expanseCategory]="expanseCategory"></app-add-expanse>
</div>
